{%- block contribution -%}
<div class="uk-margin-medium-top">
  <h1 class="uk-text-lead">Contribution</h1>
  <div class="uk-gird-small uk-grid-match uk-child-width-1-3@s uk-text-center uk-flex-middle" uk-grid>
    <div> 
      <a href="https://www.offerbox.jp/" target="_blank">
        <div class="uk-card uk-card-body uk-card-default">
          <img src="static/image/offerbox.png"/>
        </div>
      </a>
    </div>
    <div>
      <a href="http://www.i-plug.co.jp/" target="_blank">
        <div class="uk-card uk-card-body uk-card-default">
          <img src="static/image/iplug.png"/>
        </div>
      </a>
    </div>
  </div>
</div>
{%- endblock -%}
