{%- block note -%}
<div class="uk-margin-top">
  <h1 class="uk-text-lead">For source readers</h1>
  <p>このページは<a href="https://jinja.palletsprojects.com/en/master/" target="_blank" rel="noopener">Jinja2</a>と<a href="https://getuikit.com/" target="_blank" rel="noopener">UIKit</a>で構築されています。また、以下のPythonライブラリでソースサイズを小さくしています。</p>
  <ul>
    <li>
      <a href="https://htmlmin.readthedocs.io/en/latest/" target="_blank" rel="noopener">htmlmin</a>
    </li>
    <li>
      <a href="https://github.com/sprymix/csscompressor" target="_blank" rel="noopener">csscompressor</a>
    </li>
    <li>
      <a href="https://github.com/tikitu/jsmin" target="_blank" rel="noopener">jsmin</a>
    </li>
  </ul>
  <p>HTMLソースおよびコンパイルコードは<a href="https://github.com/toshikiohnogi/to-base" target="_blank" rel="noopener" >こちら</a>から見ることができます。</p>
</div>
{%- endblock -%}
