{%- block youtube -%}
<div class="uk-margin-top">
    <h1 class="uk-text-lead">YouTube</h1>
    <div class="uk-width-2-3@l uk-align-center">
        <div class="my-youtube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CxH6jdQ6fU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <p class="uk-text-center"><a href="https://www.youtube.com/channel/UC2Zq82P-eRdltf-HcBSbgJg" target="_blank" rel="noopener">YouTube</a>始めました。こんな人です。</p>
</div>
{%- endblock -%}
