<!-- 本体 -->
<div class="uk-card uk-card-default uk-card-body uk-margin-top">
  <div>
    <h1>第121回SIGMUS at 輪島</h1>
    <p>ポスター発表に関する補足資料などを掲載します。</p>
  </div>
  <div>
    <h2>リンク</h2>
    <ul>
      <li>ポスター</li>
      <li>原稿</li>
      <li>評価実験関連</li>
    </ul>
  </div>
  <div>
    <h2>評価実験関連</h2>
    <div id="inputInformation">
      <h3>入力セットリスト</h3>
      <p>Ultra Miami 2016 - Armin van Buuren</p>
      <div class="videoWrapper">
        <iframe
          src="https://www.youtube.com/embed/QqbsWgQVSko"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
      <p>セットリストは<a href="http://1001.tl/kt9649k" target="_blank">コチラ</a>（外部サイト）</p>
    </div>
    <div id="outputInformation">
      <h3>出力結果</h3>
      <h4>音源</h4>
      <iframe
        width="100%"
        height="120"
        src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Ftoshikiohnogi%2Fmix-for-sigmus-121th%2F"
        frameborder="0" >
      </iframe>
      <h4>再生順</h4>
      <ol>
        <li>Dominator Extended Mix / Armin van Buuren,Human Resource</li>
        <li>Rewind Mikkas Remix / Emma Hewitt</li>
        <li>Voltage Extended Mix / NWYR</li>
        <li>I Live For That Energy (ASOT 800 Anthem) Extended Mix / Armin van Buuren</li>
        <li>Foul Language Original Mix / Tempo Giusto,HP Source</li>
        <li>Still There's You A.R.D.I. Remix / Ana Criado</li>
        <li>Panorama Original Mix / Miikka Leinonen,Allen & Envy</li>
        <li>Love Of My Control Sam Jones Extended Remix / Sneijder,Christina Novelli</li>
        <li>Ignite Allen Watts Techy Remix / UDM,Steve Allen & Envy</li>
        <li>Salida Del Sol Derek Palmer Remix / Cyre,DJ T.H.</li>
        <li>Generation Club Mix / Max Graham,Estiva</li>
      </ol>
    </div>
  </div>
</div>

<!-- スタイル -->
<style>
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
