<!-- 本体 -->
<div>
  <div>
    <h1>第121回SIGMUS at 輪島</h1>
    <p>ポスター発表に関する補足資料などを掲載します。</p>
  </div>
  <div>
    <h2>リンク</h2>
    <ul>
      <li>ポスター</li>
      <li>原稿</li>
      <li>評価実験関連</li>
    </ul>
  </div>
  <div>
    <h2>評価実験関連</h2>
    <h3>入力セットリスト</h3>
    <p>Ultra Miami 2016 - Armin van Buuren</p>
    <div class="videoWrapper">
      <iframe
        src="https://www.youtube.com/embed/QqbsWgQVSko"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <p>セットリストは<a href="http://1001.tl/kt9649k" target="_blank">コチラ</a>（外部サイト）</p>
    <h3>出力結果</h3>
    <p>Comming Soon...</p>
  </div>
</div>

<!-- スタイル -->
<style>
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
