<!DOCTYPE html>
<html lang="ja">
<head>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79013105-2');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Description" content="大野木俊樹のプロフィールページです。">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit-icons.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79013105-2"></script>
<style>{{ css }}</style>
<title>to-base</title>
</head>
<body>
{%- include 'components/header.html' -%}
<div class="uk-container">
{%- block content -%}
{%- endblock -%}
</div>
{%- include 'components/footer.html' -%}
</body>
</html>
